h3{
	font:bold 26px/52px "黑体";
	color: #4193d7;
	padding-top:8px;
	text-shadow:1px 1px 2px white ;
}
h5{
	font: bold 16px/32px "微软雅黑";
	padding-bottom: 5px;
}
.home_box h3{
	font: 26px "黑体";
	color: #e42112;
	padding: 23px 0px 21px;
	height: 26px;
	display: inline-block;
}
.head{
	width: 1263px;
	height:108px;
	border-bottom: 1px solid #e6e6e6;
}
.head_nav{
	width:981px;
	height: 30px;
	padding: 0px 129px 0px 153px;
	background-color: #f8f8f8;
}
.zhui{
	width:140px;
	font: 12px/30px "微软雅黑";
	color:#fd5959 ;
}
.head .hnav{
	width:510px;
	height: 14px;
	padding: 9px 0px 7px;
}
.hnav a{
	font: 14px/14px "微软雅黑";
	float: left;
	padding-right: 16px;
	color: #a2a2a2;
}
.head_con{
	width:967px;
	height: 78px;
	padding:0px 158px 0px 138px;
	position: relative;
}
.foot{
	width:855px;
	height: 227px;
	padding: 23px 141px 0px 267px;
	margin: 0 auto;
	font-size: 0px;
	position: relative;
}
body .foot .ico_foot{
	width: 113px;
	height: 27px;
	background-position:0px -787px;
	padding: 0px;
	position: absolute;
	left: 141px;
	top:27px
}
.foot_wen{
	width: 810px;
	height: 217px;
	padding-left: 45px;
	position: relative;
}
.foot a{
	color: #797979;
	font: 12px "微软雅黑";
	text-decoration: none;
	padding-right:7px;
}
.p1{
	height:32px;
	width: 810px;
	float: left;
	line-height:32px;
	padding-bottom: 9px;
}
.p1 a{
	font:12px "微软雅黑" ;
	color: #444444;
}
.p2{
	height:44px;
	width: 810px;
	float: left;
	line-height: 27px;
	padding-bottom: 8px;
}
.p3{
	height:48px;
	width: 810px;
	float: left;
	line-height: 25px;
}
.p3 .wang{
	padding-right: 3px;
}
.p4{
	float: left;
	height:12px;
	width:810px;
	padding: 10px 0px 11px 0px;
}
.foot .C{
	height: 24px;
	padding-top: 4px;
	width: 810px;
	color: #797979;
	font: 12px/24px "微软雅黑";
}
p .jing{
	padding-right: 26px;
}
p .zhong{
	padding-right: 31px;
}
body .foot .ico_jing{
	display: inlin-block;
	width: 20px;
	height: 20px;
	background-position: -45px -210px;
	position: absolute;
	top: 32px;
	left: 380px;
	
}
body .foot .ico_zhong{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: -80px -210px;
	position: absolute;
	top: 85px;
	left: 593px;
}
.foot_right{
	width: 172px;
	font: 12px "微软雅黑";
}
.foot_right a{
	margin: 11px 0px 12px 0px;
	color: #ff0000;
	border-right: 2px solid #dddddd;
	padding: 0px 7px 0px 5px;
}
.foot_right .border{
	border: 0;
}
.foot_right .pai{
	border-right: 1px solid #dddddd;
	color: #8c8c8c;
}
